.pay-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #353434, white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 181px;
    color: black;
  }

  .parent{
    width: 100vw;
  }

  .pay-container h1{
    font-size: 2.8rem;
  }
  
  .pay-now-button {
    background-color: hsl(337, 68%, 56%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pay-now-button:hover {
    background-color: hsl(337, 81%, 48%);
  }
  
  .qr-code-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .qr-code-image {
    width: 200px;
    height: 200px;
    margin: 20px 0;
  }
  
  .timer {
    font-size: 18px;
    font-weight: bold;
  }
  
  .payment-success h2 {
    color: hsl(337, 68%, 56%);
    font-size: 24px;
  }
  
  .payment-success p {
    font-size: 18px;
    margin-top: 10px;
  }
  