.showcase-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: white;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.showcase-main {
  flex: 2;
}

.back-button-wrapper {
  margin-top: 100px;
  margin-bottom: -17px;
  padding: 0 2rem;
}

.back-button {
  color: white;
  border: none;
  background: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.back-button:hover {
  color: hsl(337, 68%, 56%);
}

.card {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), hsla(336, 47%, 32%, 0.3)); 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  min-height: 630px;
}

.image-container {
  display: flex;
  justify-content: center; 
  align-items: start;     
  height: 100%;            
  border-bottom: 2px solid #222;
}

.main-image {
  display: inline-block;
  width: auto;
  max-width: 80%;
  max-height: 500px;
  object-fit: contain;
  cursor: zoom-in;
}

.details {
  padding: 1rem 1.5rem;
}

.artist-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.artist-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.text2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.headings{
  line-height: 50%;
}

/* .publish{
  display: flex;
  justify-content: end;
} */

.text h2 {
  margin: 0;
  font-size: 1.8rem;
}

.text h3 {
  margin: 0.2rem 0;
  font-weight: 500;
}

.publish-date {
  font-size: 0.9rem;
  color: #aaa;
}

.stats {
  display: flex;
  gap: 1.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: #ccc;
}

.actions button {
  margin-right: 10px;
  background: none;
  border: 1px solid grey;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.actions button:hover {
  background: rgb(48, 46, 46);
}

.related-section {
  flex: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), hsla(336, 47%, 32%, 0.3)); 
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.related-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 0.6rem;
  margin-top: 1rem;
}

.related-thumb {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.related-thumb:hover {
  transform: scale(1.05);
}


.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1000;
  user-select: none;
}
