.careers-container {
    text-align: center;
    padding: 50px;
    animation: fadeIn 1.5s ease-in-out;
    margin-top: 80px;
    margin-bottom: 65px;
    width: 98%;
  }
  
  .section-title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .job-listings {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .job-card {
    background: linear-gradient(135deg, #353434, white);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 0 10px;
  }
  
  .job-card:hover {
    transform: translateY(-5px);
  }
  
  .job-title {
    font-size: 1.5rem;
    color: black;
    cursor: auto;
  }
  
  .job-location, .job-type {
    font-size: 1rem;
    color: #333;
    margin: 5px 0;
  }
  
  .job-description {
    font-size: 1rem;
    color: #222;
    margin-bottom: 10px;
  }
  
  .apply-button {
    background: hsl(337, 68%, 56%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .apply-button:hover {
    background: hsl(337, 63%, 51%);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  