.navbar{
    background-color: rgba(106, 99, 99, 0.2);
    backdrop-filter: blur(10px);
    padding: 1rem;
    /* position: fixed; */
    z-index: 20;
    width: 96%;
    height: 40px;
    left: 50%;
    transform: translate(-50%);
    top: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(31, 29, 29, 0.5);
    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5); */
    display: flex;
    transition: all 0.3s ease-in-out;
}

.inLogo img{ 
    height: 60px;
    width: 46px;
    margin-top: 8px;
}

.navbar.expanded{
    background-color: #181a1b;
    position: fixed;
    width: 98%;
    border-radius: 0;
    top: 0;
    border-bottom: 1px solid rgb(60, 57, 57);
}

.navbar.collapsed {
    position: fixed;
    width: 96%;
}

.navbar nav:hover {
    background-color: rgba(106, 99, 99, 0.1);
}

.navbar .logo {
    margin-left: 10px;
    width: 30%;
    margin-top: -17px;
}

.logo .inLogo{
    display: flex;
    align-items: center;
    height: 70px;
    width: 160px;
    margin-left: 10px;
}

.navbar .a {
    color: white;
    position: relative;
}

.navbar .a:hover {
    color: hsl(337, 68%, 56%);
}
 
.navbar ul {
    margin-left: 350px;
    list-style: none;
    margin-top: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 5.0rem;
}

.navbar .div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button {
    background-color: hsl(337, 68%, 56%);
}

.navbar button:hover {
    background-color: white;
    color: hsl(337, 68%, 56%);
}

.navbar button:hover {
    color: hsl(337, 68%, 56%);
}

.inLogo h1 {
    font-size:xx-large;
    font-style: italic;
    color: hsl(337, 68%, 56%);
}

.navbar .a::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: hsl(337, 68%, 56%);
    bottom: -1px;
    left: 50%;
    transition: all 0.3s ease;
}

.navbar .a:hover::after {
    color: hsl(337, 68%, 56%);
    width: 100%;
    left: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chkbtn {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 15px;
}

#check {
    display: none;
}

@media only screen and (max-width: 1190px) {
    .navbar ul {
        margin-left: 200px;
        gap: 3.0rem;
    }

    .navbar nav {
        width: 92%;
    }
}

@media only screen and (max-width: 950px) {
    .navbar ul {
        margin-left: 80px;
        gap: 3.0rem;
    }

    .navbar nav {
        width: 92%;
    }
}

@media only screen and (max-width: 815px) {
    .navbar ul {
        margin-left: 30px;
        gap: 2.0rem;
    }

    .navbar nav {
        width: 92%;
    }
}

@media only screen and (max-width: 695px) {
    .navbar ul {
        margin-left: 10px;
        gap: 1.0rem;
    }

    .navbar nav {
        width: 92%;
    }
}

@media only screen and (max-width: 600px) {
    .chkbtn {
        display: block;
        color: white;
    }

    .navbar ul {
        margin: 300px 0px 0px -1px;
        position: fixed;
        left: -110%;
        flex-wrap: wrap;
        z-index: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 29vh;
        background-color: rgba(31, 29, 29, 0.97);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(31, 29, 29, 0.5);
        border-top: 0px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
        padding: 10px 0px 10px 0px;
        border-radius: 0 0 10px 10px;
        transition: all 0.5s;
    }

    .navbar nav {
        width: 92%;
    }

    #check:checked~ul {
        left: 0;
    }
}

@media only screen and (max-width: 435px) and (max-height: 950px) {
    .navbar ul {
        margin: 350px 0px 0px -1px;
    }

    .navbar nav {
        width: 90%;
    }
}

.user-wrapper {
    position: relative;
    cursor: pointer;
}

.user-wrapper:hover{
    color: hsl(337, 68%, 56%);
}

.user-wrapper .dropdown {
    animation: slideDown 0.3s ease-in-out;
    position: absolute;
    top: 20px; /* Adjusted to prevent gaps */
    right: -60px;
    background: linear-gradient(135deg, black, hsl(337, 58%, 23%)), url('https://via.placeholder.com/1920x600') no-repeat center center/cover; 
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    list-style: none;
    padding: 35px 0;
    width: 150px;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    pointer-events: auto;
}

.user-wrapper .dropdown li {
    padding: 0px 15px;
    text-align: center;
    width: 80%;
    margin-top: -20px;
    margin-bottom: -20px;
    transition: background-color 0.2s ease;
}

.dropdown .main{
    font-weight: bolder;
    font-style: italic;
    color: white;
}

.dropdown li a{
    color: white;
}

.user-wrapper .dropdown .li:hover {
    color: hsl(337, 68%, 56%);
}

/* Ensure the dropdown stays visible when hovering */
.user-wrapper:hover .dropdown {
    display: flex;
}